run = "cargo run --offline < input.txt | tee output.txt"
# run = "cargo run < input.txt | tee output.txt"
entrypoint = "src/main.rs"
language = "nix"

[packager]
language = "rust"

[packager.features]
packageSearch = true

[languages.rust]
pattern = "**/*.rs"

# [languages.rust.languageServer]
# start = "rust-analyzer"
